.extras {
    display: inline;
}
	
ul.bloglist li a:hover, ul.bloglist li a:active, ul.bloglist li a:focus {
    background: none;
    cursor: pointer;
    text-decoration: underline;
}
	
ul.bloglist li {
    width: 300px;
}
	
ul.twitter li.twitter-item {
    float: left;
    width: 260px;
}